
.row{
    display:flex;
    flex-wrap:wrap;
    margin-right:-10px;
    margin-left:-10px
}

.col{
    flex-grow:1;
    max-width:100%
}

.leftside, .rightside {
    height:100vh;
    width:100%;
    text-align: center;
    padding: 10px;
    font-size: 120%;
}

.leftside{
    background:gainsboro;
}